.container{
    display: flex;
    flex-direction: column;
    max-width:100%;
    
}
.download-section{
    text-align: center;
    margin: 20px auto;
}
.download-section button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 167, 3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.download-section button:hover{
    transform: translateY(-2px);
    background-color: rgb(255, 146, 3);
}
.list-section{
    margin: 0px 20px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.error-message{
    text-align: center;
    color: red;
    font-size: 28px;
    font-weight: 500;
}