.people-informaion{
    max-width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 20px;
}
.people-informaion img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.description {
    padding: 20px;
    word-wrap: break-word;
}
.description p{
    color: white;
    font-size: 14px;
}
.people-informaion{
    transition: all 0.5s ease-in-out;
}
.people-informaion:hover{
    transform: scale(1.1);
}